.checkbox{
    float: left;
}
.loginBtn{
    float: right;
    margin-bottom: 8px;
}
.logo{
    height: inherit;
    padding-right: 10px;
}

.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px 16px 16px 16px;
    width: 36px;
}
md-toolbar h1 {
    font-weight: normal;
}
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.logo{
    height: 48px;
    width: 58px;
}


/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
    }

.title{
	padding-top:10px;
}

.docs-logotype{
	padding-top: 10px;
}

.register{padding-top:40px;padding-bottom:40px;background-color:#fff;}

.pane{width:304px;padding:20px 25px 30px;margin:0 auto 25px;background-color:#f7f7f7;border-radius:10px;-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, .3);box-shadow:0 2px 2px rgba(0, 0, 0, .3);}
.pane-register{width:354px;padding:50px;margin:50px}



.pane-index{width:354px;padding:50px;margin:50px}

.exit{
	 float: left;
    margin-left: auto;
}

.pane-user{max-width:750px;padding:20px 25px 30px;margin:25px auto 25px;background-color:#f7f7f7;border-radius:10px;-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, .3);box-shadow:0 2px 2px rgba(0, 0, 0, .3);}


.docs-menu md-select {

 /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.info-pane{
	max-width: none;
}

.right{
	float: right;
	margin: auto;
}

.layout-content, .doc-content {
  max-width: 864px;
  padding: 16px;
}
.user-info{
	width: 600px;
}
.footer{
	font-size: 8px;
}
.content-size{
	height: 90%;
	
}